
/*---------------------------------- thanh ngay dưới nav bar---------------------------------- */
main {
  margin: 40px;
}
.cart-bar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  border-bottom: 1px solid #ccc;
  font-family: sans-serif;
}

.cart-left {
  font-weight: bold;
  color: #000;
}


.cart-left span{
  font-size: 24px;
}

/* Phần bên phải có 2 hàng */
.cart-right {
  display: flex;
  flex-direction: column; /* xếp theo cột */
  align-items: flex-end;  /* căn phải */
  gap: 6px;
}

/* Hàng trên: 2 nút */
.cart-buttons {
  display: flex;
  gap: 10px;
}

.discount-btn {
  background-color: #ccc;
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 14px;

}

.clear-cart-btn {
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 18px;
}

.checkout-btn {
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 18px;

}

/* Hàng dưới: tổng tiền */
.total {
  font-weight: bold;
  color: #000;
  margin-top: 20px;
  font-size: 18px;
}
/*---------------------------------------------------------------------------------------------*/



/*-------------------------------------------- sản phẩm -------------------------------------- */

.cart-list{
  list-style: none;
  padding: 0;
  margin: 0;   
  flex-direction: column;   /* xếp dọc các sản phẩm */
  align-items: center;      /* căn giữa ngang */
}


.cart-items{
  display: flex;
  align-items: center;
  background-color: #fdc37898;
  width: 90%;
  justify-content: space-between;
  border-radius: 18px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px 20px;
}

.item-img{
  padding: 10px;
  margin-left: 10px;
  border-radius: 18px;
}



.item-control {
  display: flex;
  align-items: center;
  gap: 12px; /* khoảng cách giữa nút xóa và phần số lượng */
}

/*mớ điều chỉnh số lượng*/
.quantity-control {
  display: flex;
  align-items: center;
  background-color: #fdc378; 
  border-radius: 20px;
  padding: 4px 8px;
}


.qty-btn {
  display: flex;
  background-color: white;     
  border: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.quantity {
  display: flex;
  display: inline-block;
  width: 24px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}
/*-------------------*/

/* nút xóa*/
.remove-btn {
  display: flex;
  border: none;
  background-color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px; /* khoảng cách nhỏ giữa tên và giá */
  flex: 1; 
  margin-left: 20px;
}

/* Tên sản phẩm */
.item-name {
  font-size: 24px;
  font-weight: 1000;
  color: #333;
  margin: 0;
}

/* Giá sản phẩm */
.item-price {
  margin: 0;
  color: #555; /* chữ “Giá:” */
  font-weight: 500;
}

.item-price span {
  color: #b22222; /* màu giá tiền */
  font-weight: 600;
}

/*---------------------------------------------------------------------------------------------*/

footer {
    background: #d2b48c; /* beige */
    padding: 15px 0; 
    text-align: center;
    color: #000;
    margin-top: 20px;
}